In [13]:
import pandas as pd
df_gold = pd.read_csv("Gold Futures Historical Data.csv")
df_gold.sort_values(by = ['Date'], inplace = True)
df_gold.reset_index(drop = True, inplace = True)
df_gold

            Date     Price      Open      High       Low     Vol. Change %
0     2024-01-07  2,051.05  2,052.20  2,052.55  2,049.85      NaN    0.06%
1     2024-01-05  2,049.80  2,051.40  2,071.10  2,030.80      NaN   -0.01%
2     2024-01-04  2,050.00  2,049.30  2,058.10  2,043.30  130.26K    0.35%
3     2024-01-03  2,042.80  2,067.90  2,074.30  2,038.30  221.68K   -1.48%
4     2024-01-02  2,073.40  2,072.70  2,088.10  2,064.30  157.56K    0.02%
...          ...       ...       ...       ...       ...      ...      ...
2590  2014-01-08  1,225.50  1,231.00  1,231.80  1,217.70  157.11K   -0.33%
2591  2014-01-07  1,229.60  1,237.00  1,244.70  1,224.20  128.64K   -0.68%
2592  2014-01-06  1,238.00  1,237.00  1,247.70  1,212.60  152.19K   -0.05%
2593  2014-01-03  1,238.60  1,222.30  1,239.60  1,221.30  114.98K    1.09%
2594  2014-01-02  1,225.20  1,204.50  1,230.80  1,202.50  136.92K    1.90%

[2595 rows x 7 columns]

In [10]:
import pandas as pd
df_cocoa = pd.read_csv("US Cocoa Futures Historical Data.csv")
df_cocoa.sort_values(by = ['Date'], inplace = True)
df_cocoa.reset_index(drop = True, inplace = True)
df_cocoa

            Date     Price      Open      High       Low    Vol. Change %
0     2014-01-01  2,707.50  2,707.50  2,707.50  2,707.50     NaN   -0.06%
1     2014-01-02  2,636.00  2,702.00  2,704.00  2,629.00  20.61K   -2.64%
2     2014-01-03  2,699.00  2,646.00  2,723.00  2,633.00  18.72K    2.39%
3     2014-01-06  2,667.00  2,708.00  2,717.00  2,656.00  13.65K   -1.19%
4     2014-01-07  2,675.00  2,669.00  2,697.00  2,663.00  11.93K    0.30%
...          ...       ...       ...       ...       ...     ...      ...
2522  2023-12-29  4,196.00  4,256.00  4,256.00  4,193.00  18.60K   -1.41%
2523  2024-01-02  4,275.00  4,209.00  4,287.00  4,200.00  24.13K    1.88%
2524  2024-01-03  4,238.00  4,265.00  4,273.00  4,204.00  25.19K   -0.87%
2525  2024-01-04  4,260.00  4,233.00  4,267.00  4,232.00  15.72K    0.52%
2526  2024-01-05  4,204.00  4,260.00  4,274.00  4,194.00  19.63K   -1.31%

[2527 rows x 7 columns]

In [11]:
import pandas as pd
df_silver = pd.read_csv("Silver Futures Historical Data.csv")
df_silver.sort_values(by = ['Date'], inplace = True)
df_silver.reset_index(drop = True, inplace = True)
df_silver

            Date   Price    Open    High     Low    Vol. Change %
0     2014-01-02  20.128  19.440  20.440  19.430  44.69K    3.91%
1     2014-01-03  20.211  20.015  20.325  19.985  30.03K    0.41%
2     2014-01-06  20.103  20.135  20.355  19.950  38.85K   -0.53%
3     2014-01-07  19.787  20.180  20.280  19.625  38.36K   -1.57%
4     2014-01-08  19.539  19.830  19.865  19.310  45.24K   -1.25%
...          ...     ...     ...     ...     ...     ...      ...
2574  2024-01-02  23.953  24.045  24.335  23.875     NaN   -0.40%
2575  2024-01-03  23.157  23.885  23.950  23.045     NaN   -3.32%
2576  2024-01-04  23.187  23.190  23.260  22.880     NaN    0.13%
2577  2024-01-05  23.315  23.205  23.715  22.970     NaN    0.55%
2578  2024-01-07  23.305  23.348  23.350  23.290     NaN   -0.04%

[2579 rows x 7 columns]

In [29]:
import pandas as pd
df_coffee = pd.read_csv("coffee-prices-historical-chart-data.csv", header = 8)
df_coffee['date'] = pd.to_datetime(df_coffee['date'])
df_coffee =df_coffee.loc[(df_coffee['date'] >= '2014-01-01')]
df_coffee.reset_index(drop = True, inplace = True)
df_coffee

           date   value
0    2014-01-02  1.1140
1    2014-01-03  1.1635
2    2014-01-06  1.2100
3    2014-01-07  1.1725
4    2014-01-08  1.2090
...         ...     ...
2567 2024-01-22     NaN
2568 2024-01-23     NaN
2569 2024-01-24     NaN
2570 2024-01-25     NaN
2571 2024-01-26     NaN

[2572 rows x 2 columns]

In [35]:
import pandas as pd
df_soy = pd.read_csv("soybean-prices-historical-chart-data.csv", header = 8)
df_soy['date'] = pd.to_datetime(df_soy['date'])
df_soy =df_soy.loc[(df_soy['date'] >= '2014-01-01')]
df_soy.reset_index(drop = True, inplace = True)
df_soy

           date    value
0    2014-01-02  12.7000
1    2014-01-03  12.7125
2    2014-01-06  12.7675
3    2014-01-07  12.7600
4    2014-01-08  12.6925
...         ...      ...
2555 2024-01-22      NaN
2556 2024-01-23      NaN
2557 2024-01-24      NaN
2558 2024-01-25      NaN
2559 2024-01-26      NaN

[2560 rows x 2 columns]

In [34]:
import pandas as pd
df_wheat = pd.read_csv("wheat-prices-historical-chart-data.csv", header = 8)
df_wheat['date'] = pd.to_datetime(df_wheat['date'])
df_wheat =df_wheat.loc[(df_wheat['date'] >= '2014-01-01')]
df_wheat.reset_index(drop = True, inplace = True)
df_wheat

           date   value
0    2014-01-02  5.9700
1    2014-01-03  6.0575
2    2014-01-06  6.0575
3    2014-01-07  6.0250
4    2014-01-08  5.8875
...         ...     ...
2557 2024-01-22     NaN
2558 2024-01-23     NaN
2559 2024-01-24     NaN
2560 2024-01-25     NaN
2561 2024-01-26     NaN

[2562 rows x 2 columns]